.process.section {
  padding: 75px 0;
}

.process {
  -webkit-box-shadow: 0px -5px 5px 0px rgba(170, 170, 170, 0.6);
          box-shadow: 0px -5px 5px 0px rgba(170, 170, 170, 0.6);
}

.process .tabs-triggers {
  width: 100%;
  background-color: #fff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 50px;
}

.process .tabs-triggers__item {
  float: left;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
}

.process .tabs-triggers__item:not(.active) {
  color: #e5e5e5;
  border-bottom: none;
}

.process .tabs-triggers__item:not(.active):hover {
  color: red;
  border-bottom: none;
}

.process .tabs-triggers__item.active {
  color: red;
  border-bottom: none;
}

.process__container {
  max-width: 1650px;
  padding: 0 25px;
  margin: 0 auto;
}

.process-counter {
  width: 100%;
  counter-reset: section;
}

.process-counter__item {
  padding: 25px;
  counter-increment: section;
  position: relative;
}

.process-counter__item p {
  font-weight: 300;
  line-height: 1.25;
}

.process-counter__item:nth-child(even) {
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  text-align: end;
  padding-right: 61px;
  padding-left: 61px;
  position: relative;
}

.process-counter__item.active:nth-child(even) {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

.process-counter__item:nth-child(odd):not(:last-child) {
  border-left: 2px solid #e5e5e5;
  padding-left: 61px;
  padding-right: 61px;
  border-bottom: 2px solid  #e5e5e5;
}

.process-counter__item:last-child:nth-child(odd) {
  border-left: 2px solid  #e5e5e5;
}

.process-counter__item.active:nth-child(odd) {
  border-left: 2px solid red;
  border-bottom: 2px solid red;
}

.process-counter__item:first-child {
  border-left: none;
  padding-right: 61px;
  padding-left: 61px;
}

.process-counter__item:last-child {
  border-right: none;
  border-bottom: none;
  padding-right: 61px;
  padding-left: 61px;
}

.process-counter__item:nth-child(even), .process-counter__item:nth-child(odd), .process-counter__item:first-child, .process-counter__item:last-child {
  position: relative;
}

.process-counter__item:nth-child(even)::before, .process-counter__item:nth-child(odd)::before, .process-counter__item:first-child::before {
  content: counter(section);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: 50%;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  color: #e5e5e5;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process-counter__item.active:nth-child(even)::before, .process-counter__item.active:nth-child(odd)::before, .process-counter__item.active:first-child::before {
  border: 2px solid red;
  color: red;
}

.process-counter__item:nth-child(even)::before {
  right: -25px;
}

.process-counter__item:nth-child(odd)::before {
  left: -25px;
}

.process-counter__item:first-child::before {
  left: -25px;
}

.process-counter__item:first-child::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  bottom: 50%;
  height: 50%;
  width: 2px;
  background-color: #e5e5e5;
}

.process-counter__item.active:first-child::after {
  background-color: red;
}

.process-counter__item:last-child:nth-child(odd)::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 50%;
  width: 2px;
  background-color: #e5e5e5;
  left: -2px;
}

.process-counter__item.active:last-child:nth-child(odd)::after {
  background-color: red;
}

.process-counter__item.active:last-child:nth-child(even)::after {
  background-color: red;
}

.process-counter__item:last-child:nth-child(even)::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 50%;
  width: 2px;
  background-color: #e5e5e5;
  right: 0;
}

.process-counter__item:last-child:nth-child(odd) {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  background-color: #fff;
}

.process-counter__item.active:first-child {
  border-left: none;
}

.process-counter__item.active:last-child {
  border-right: none;
  border-bottom: none;
}
/*# sourceMappingURL=style.css.map */